<!DOCTYPE html>
{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title_block %}
    New Property
{% endblock title_block %}


{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Property</div>
            <h1 class="easi-title">New Property</h1>
            <p class="easi-sub">Create a new strata property record.</p>
        </div>
    </div>
{% endblock page_header %}

{% block body_content %}

    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="mt-3">
            <input name="savebutton" class="btn btn-primary" type="submit" value="Save">
            <a name="cancel" class="btn btn-secondary" href="{% url 'property:property_list' %}" role="button">Cancel</a>
        </div>
    </form>

    {% block javascript %}
        <script src="{% static 'js/update_name.js' %}"></script>
    {% endblock javascript %}

{% endblock body_content %}
