<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


    {% block title_block %}
        OC Maintain
    {% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Property</div>
            <h1 class="easi-title">New OC</h1>
            <p class="easi-sub">Create an Owners Corporation profile.</p>
        </div>
    </div>
{% endblock page_header %}


    {% block body_content %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
         
                {% crispy form %}


            </form>
                 
            

    {% endblock body_content %}

