{% extends "base/base.html" %}

{% block title_block %}
    OC List

{% endblock title_block %}


{% block body_content %}

    <div class="form-group">
        <form method="GET">
            <div class="col-3">
                <label for="property">Property: </label>
                <select class="form-control" id="in_property" name="property_id">
                    <option value="0">Choose Property</option>
                    {% for item in property %}
                        <option value="{{ item.pk }}"
                                {% if item.pk == property_id %} selected {% endif %}  >  {{ item.name }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="text-right">
                <input class="btn btn-secondary" type="submit" value="Search">
            </div>

        </form>
    </div>



    <form action="{% url 'property:oc_delete' %}" class="form-check" method="POST">
        {% csrf_token %}

        <div class="text-right">
            <a name="New " class="btn btn-primary" href="{% url 'property:oc_create' %}" role="button">New</a>
            <input name="deletebutton" class="btn btn-primary" type="submit" value="Delete">
        </div>

        <hr>


        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Owner Corporation Name</th>
                <th>description</th>
                <th>Property</th>
                <th>Manager First Name</th>
                <th>Manager Last Name</th>
                <th>Billing Start Date</th>
                <th>Frequency</th>


            </tr>
            </thead>

            {% for item in oc %}

                <tbody>

                <tr>
                    <td><input class="form-check-input" name='chkgroup' type="checkbox" value="{{ item.pk }}"></td>

                    <td scope="row"><a href="/property/oc/update/{{ item.pk }}">  {{ item.title }}</a></td>

                    <td>{{ item.description }}</td>
                    <td>{{ item.property_ref }}</td>

                    <td>{{ item.manager_first_name }}</td>
                    <td>{{ item.manager_last_name }}</td>
                    <td>{{ item.billing_start_date }}</td>
                    <td>{{ item.frequency }}</td>


                </tr>

            {% endfor %}


            </tbody>
        </table>

    </form>



{% endblock body_content %}