{% extends "base/base.html" %}
{% load mathfilters %}

{% block title_block %}
    OC List

{% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Property</div>
            <h1 class="easi-title">OC Budget</h1>
            <p class="easi-sub">Budget lines for the Owners Corporation.</p>
        </div>
    </div>
{% endblock page_header %}


{% block body_content %}

    <div class="form-group">
        <form method="GET">
            <div class="row">
                <div class="col-3">
                    <label for="in_property">Property: </label>

                    <select class="form-control" id="in_property" name="property_id">
                        <option value='0' selected>Choose Property</option>
                        {% for item in property %}
                            <option value="{{ item.pk }}"  {% if item.pk == property_id %}
                                    selected {% endif %}> {{ item.name }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-3">
                    <label for="in_fin_year">Financial year: </label>

                    <input class="form-control" class="textinput textInput form-control" id="in_fin_year"
                           name="fin_year" value="{{ request.GET.fin_year }}">
                </div>
            </div>
            <div class="text-right">
                <input class="btn btn-secondary" type="submit" value="Search">
            </div>

        </form>
    </div>



    <form action="{% url 'property:oc_budget_delete' %}" class="form-check" method="POST">
        {% csrf_token %}

        <div class="text-right">
            <a name="New " class="btn btn-primary" href="{% url 'property:oc_budget_create' %}" role="button">New</a>
            <input name="deletebutton" class="btn btn-primary" type="submit" value="Delete">
        </div>

        <hr>


        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>OC Name</th>
                <th>Financial Year</th>
                <th>Account Code</th>
                <th>Account Name</th>
                <th>Amount</th>


            </tr>
            </thead>

            {% for item in ocbudget %}

                <tbody>

                <tr>
                    <td><input class="form-check-input" name='chkgroup' type="checkbox" value="{{ item.pk }}"></td>

                    <td scope="row"><a href="/property/ocbudget/update/{{ item.pk }}">  {{ item.oc_ref }}</a></td>

                    <td>{{ item.fin_year }}</td>
                    <td>{{ item.acc_code }}</td>
                    <td>{{ item.acc_name }}</td>
                    <td>{{ item.amount|abs }}</td>


                </tr>

            {% endfor %}


            </tbody>
        </table>

    </form>



{% endblock body_content %}