{% extends "base/base.html" %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}

{% block title_block %}
    Property

{% endblock title_block %}



{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Property</div>
            <h1 class="easi-title">Property Profile</h1>
            <p class="easi-sub">Manage strata property records, lots and entitlements.</p>
        </div>
        <div class="easi-actions">
            <a class="btn btn-primary" href="{% url 'property:property_create' %}" role="button"><i class="fas fa-plus fa-sm mr-1"></i>New Property</a>
        </div>
    </div>
{% endblock page_header %}

{% block body_content %}

    <div class="form-group">
        <form method="get">
            <div class="well">
                <h4 style="margin-top: 0"><i class="fas fa-filter fa-sm mr-2"></i>Filter</h4>
                <div class="row">
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.name.label_tag }}
                        {% render_field filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.suburb.label_tag }}
                        {% render_field filter.form.suburb class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.state.label_tag }}
                        {% render_field filter.form.state class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.post_code.label_tag }}
                        {% render_field filter.form.post_code class="form-control" %}
                    </div>

                </div>


                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </form>
    </div>




    <form action="{% url 'property:property_delete' %}" class="form-check" method="POST">
        {% csrf_token %}

        <div class="text-right mb-2">
            <input name="deletebutton" class="btn btn-danger btn-sm" type="submit" value="Delete selected">
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th style="width:2.5rem;"></th>
                    <th>Property Address</th>
                    <th>Lots Number</th>
                    <th>Total Liability</th>
                    <th>Total Entitlement</th>
                    <th>Plan No.</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td><input class="form-check-input" name='chkgroup' type="checkbox" value="{{item.pk}}"></td>
                    <td scope="row"><a href="/property/prop/update/{{item.pk}}">{{item.street}}</a></td>
                    <td>{{item.lots_num}}</td>
                    <td>{{item.total_lot_liability}}</td>
                    <td>{{item.total_lot_entitle}}</td>
                    <td>{{item.plan_num}}</td>
                </tr>
                {% empty %}
                <tr><td colspan="6" class="text-center text-muted" style="padding:2rem;">No properties found.</td></tr>
                {% endfor %}
            </tbody>
        </table>

    </form>



{% endblock body_content %}