{% extends "base/base.html" %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}

{% block title_block %}
    Property

{% endblock title_block %}



{% block body_content %}

    <div class="form-group">
        <form method="get">
            <div class="well">
                <h4 style="margin-top: 0">Filter</h4>
                <div class="row">
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.name.label_tag }}
                        {% render_field filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.suburb.label_tag }}
                        {% render_field filter.form.suburb class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.state.label_tag }}
                        {% render_field filter.form.state class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.post_code.label_tag }}
                        {% render_field filter.form.post_code class="form-control" %}
                    </div>

                </div>


                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </form>
    </div>




    <form action="{% url 'property:property_delete' %}" class="form-check" method="POST">
        {% csrf_token %}

        <div class="text-right">
            <a name="New " class="btn btn-primary" href="{% url 'property:property_create' %}" role="button">New</a>
            <input name="deletebutton" class="btn btn-primary" type="submit" value="Delete">
        </div>


        <table class="table">
    <thead>
        <tr>
            <th>    </th>
            <th>Property Address</th>
            <th>Lots Number</th>
            <th>Total Liability</th>
            <th>Total Entitlement</th>
            <th>Plan No.</th>

        </tr>
    </thead>

            {% for item in object_list %}

            <tbody>
                
               <tr>
                        <td> <input class="form-check-input" name='chkgroup' type="checkbox" value="{{item.pk}}">   </td>

                   <td scope="row"><a href="/property/prop/update/{{item.pk}}">  {{item.street}}</a></td>

                        <td>{{item.lots_num}}</td>
                        <td>{{item.total_lot_liability}}</td>
                        <td>{{item.total_lot_entitle}}</td>
                        <td>{{item.plan_num}}</td>



                </tr> 

    {% endfor %}


            </tbody>
        </table>

    </form>



{% endblock body_content %}