<!DOCTYPE html>
{% extends "base/base.html" %}
{% load crispy_forms_tags %}


{% block title_block %}
    Insurance Maintain
{% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Insurance</div>
            <h1 class="easi-title">New Insurance</h1>
            <p class="easi-sub">Record an insurance policy.</p>
        </div>
    </div>
{% endblock page_header %}


{% block body_content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% crispy form %}

    </form>



{% endblock body_content %}
