{% extends "base/base.html" %}

{% block title_block %}
    item List
    
{% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Admin</div>
            <h1 class="easi-title">Accounts</h1>
            <p class="easi-sub">Account records.</p>
        </div>
    </div>
{% endblock page_header %}  


{% block body_content %}



<hr>


    <table class="table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Account Code</th>
            <th>Account Name</th>
            <th>Category</th>
            <th>Component</th>
            <th>is valid</th>
            <th>COA</th>

        </tr>
    </thead>

    {% for item in Accounts %}

            <tbody>
                
               <tr>
                        
                        <td scope="row"><a>  {{item.client_ref}}</a></td>
                        
                        <td>{{item.acc_code}}</td>
                        <td>{{item.acc_desc}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.inc_exp}}</td>
                        <td>{{item.is_valid}}</td>
                        <td>{{item.COACd}}</td>
              
        
                </tr> 
               
    {% endfor %}

  


            </tbody>
        </table>


   


{% endblock body_content %}


