{% extends "base/base.html" %}
{% load staticfiles %}
{% block body_content %}
    {% load humanize %}
    {% include 'partials/_alerts.html' %}
    {% if insurance %}
        <div class="alert alert-warning alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            {{ insurance }}
        </div>
    {% endif %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> OC Certificate</a>
    </div>


    <div class="row">


        <div class="col-lg-3 mb-3">
            <a href="{% url 'property:property_list' %}" class="custom-card">
                <div class="card bg-primary text-white shadow">

                    <div class="card-body">

                        Property Management
                    </div>

                    <div class="col-auto">
                        <i class="fas fa-building fa-2x text-gray-300"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mb-3">
            <a href="{% url 'finance:oc_cert_list' %}" class="custom-card">
                <div class="card bg-info text-white shadow">
                    {#                <div class="card-body" href="{% url 'finance:oc_cert_list' %}>#}
                    <div class="card-body">
                        OC Certificate
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mb-3">
            <a href="{% url 'finance:billing_list' %}" class="custom-card">

                <div class="card bg-warning text-white shadow">
                    {#                <div class="card-body" href="{% url 'finance:billing_list' %}">#}
                    <div class="card-body">
                        Billing
                    </div>
                    <div class="col-auto align-right">
                        <i class="fas fa-dollar-sign fa-2x"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mb-3">
            <a href="{% url 'finance:fs_list' %}" class="custom-card">
                <div class="card bg-secondary text-white shadow">
                    {#                <div class="card-body" href="{% url 'finance:fs_list' %}">#}
                    <div class="card-body">
                        Financial Report
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-word fa-2x text-gray-300"></i>
                    </div>
                </div>
            </a>
        </div>

    </div>




    <!-- Content Row -->
    <div class="row">

        <!-- Property Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Property Management
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ property }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Management
                                Revenue
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{ rev|intcomma }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Unpaid Billings</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ unbill }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Lots and lots
                                in arrears
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ lot }} / {{ lot_in_arrea }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Management fee and Reimbursement in last 12
                        months</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lot by suburb</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% block javascript %}
        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
        <script src="{% static 'js/char_bar.js' %}"></script>
        <script src="{% static 'js/chart_pie.js' %}"></script>


    {% endblock %}




{% endblock body_content %}



