{% extends "base/base.html" %}

{% block title_block %}
    Notification log

{% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Property</div>
            <h1 class="easi-title">Notification Log</h1>
            <p class="easi-sub">History of notifications sent to owners and vendors.</p>
        </div>
    </div>
{% endblock page_header %}


{% block body_content %}




    <table class="table">
        <thead>
        <tr>
            <th>Property</th>
            <th>Subject</th>
            <th>Sent by</th>
            <th>Date</th>
            <th>Action</th>

        </tr>
        </thead>

        {% for item in notify_list %}

            <tbody>

            <tr>


                <td>{{ item.name }}</td>
                <td>{{ item.msg_subject }}</td>
                <td>{{ item.createby }}</td>
                <td>{{ item.createtime }}</td>
                <td></td>

            </tr>

        {% endfor %}


        </tbody>
    </table>





{% endblock body_content %}