{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}

{% block title_block %}
    Cash Receipt List

{% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Finance</div>
            <h1 class="easi-title">Cash Receipts</h1>
            <p class="easi-sub">Cash receipts recorded against the OC.</p>
        </div>
    </div>
{% endblock page_header %}


{% block body_content %}

    <div class="form-group">
        <form method="get">
            <div class="well">
                <h4 style="margin-top: 0">Filter</h4>
                <div class="row">
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.property_ref.label_tag }}
                        {% render_field filter.form.property_ref class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.lot_ref.label_tag }}
                        {% render_field filter.form.lot_ref class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.recpt_num.label_tag }}
                        {% render_field filter.form.recpt_num class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.date_gt.label_tag }}
                        {% render_field filter.form.date_gt class="form-control" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.date_lt.label_tag }}
                        {% render_field filter.form.date_lt class="form-control" %}
                    </div>

                    <div class="form-group col-sm-4 col-md-2">
                        {{ filter.form.reference.label_tag }}
                        {% render_field filter.form.reference class="form-control" %}
                    </div>

                </div>


                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </form>
    </div>




    <div class="text-right">

        <input width="15px" id="btn_cancel" name="cancelbutton" class="btn-sm btn btn-warning" type="button"
               value="Cancel">

    </div>

    <hr>


    <table class="table">
        <thead>
        <tr>
            <th></th>

            <th>Receipt No.</th>
            <th>Receipt Date</th>
            <th>Lot</th>

            <th>Amount</th>
            <th>Reference</th>
            <th>Description</th>
            <th>Is valid</th>
            <th>Attachment</th>
            <th>Action</th>

        </tr>
        </thead>

        {% for item in object_list %}

            <tbody>

            <tr>
                <td><input class="form-check-input" name='chkgroup' type="checkbox" value="{{ item.pk }}"></td>
                <td>{{ item.recpt_no }}</td>
                <td>{{ item.recpt_date }}</td>
                <td>{{ item.get_lot }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.reference }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.is_valid }}</td>
                <td>{% if item.attachment %}
                    <a href="{{ item.attachment.url }}">Download</a></td>
                {% endif %}
                <td>
                <td>
                    <a href="/finance/cash/pdf/{{ item.pk }}">
                        <button class="btn-sm btn btn-secondary" type="button"

                        >PDF Preview
                        </button>
                    </a>


                </td>
            </tr>

        {% endfor %}


        </tbody>
    </table>

    {% block javascript %}
        <script src="{% static 'js/get_oc.js' %}"></script>
        <script src="{% static 'js/cash_cancel.js' %}"></script>
    {% endblock javascript %}



{% endblock body_content %}

