<!DOCTYPE html>
{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title_block %}
    Generate GL
{% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Finance</div>
            <h1 class="easi-title">Generate GL</h1>
            <p class="easi-sub">Generate general ledger postings.</p>
        </div>
    </div>
{% endblock page_header %}


{% block body_content %}
    {% include 'partials/_alerts.html' %}

    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}


        <input name="savebutton" class="btn btn-primary" type="submit" value="Submit">
    </form>
    {% block javascript %}

        <script src="{% static 'js/get_oc.js' %}"></script>

    {% endblock javascript %}


{% endblock body_content %}
