{% extends "base/base.html" %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% load static %}


{% block title_block %}
    Journal Entry List

{% endblock title_block %}


{% block body_content %}
    <form method="get">
        <div class="well">
            <h4 style="margin-top: 0">Filter</h4>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.posting_gt.label_tag }}
                    {% render_field filter.form.posting_gt class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.posting_lt.label_tag }}
                    {% render_field filter.form.posting_lt class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    <label for="id_oc_ref">OC</label>
                    {% render_field filter.form.oc_ref class="form-control" %}
                </div>
            </div>


            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </form>


    <div class="row">
        <div class="col-8">
        </div>
        <div class="col-4">
            <a class="btn btn-primary" href="{% url 'finance:gl_create' %}" role="button">Manual GLs</a>
            {#            <a class="btn btn-primary" href="{% url 'finance:gl_export' %}" role="button">Export GL</a>#}
            <button class="btn btn-info" id="export">Export GL</button>
        </div>

    </div>
    <br>


    <table class="table">
        <thead>
        <tr>
            <th>Account Code</th>
            <th>Posting Date</th>
            <th>Document Date</th>
            <th>Debit/Credit</th>
            <th>Period</th>
            <th>Description</th>
            <th>Amount</th>
            <th>OC</th>


        </tr>
        </thead>

        {% for item in object_list %}

            <tbody>

            <tr>

                <td>  {{ item.acc_code }}</td>

                <td>{{ item.posting_date }}</td>
                <td>{{ item.document_date }}</td>
                <td>{{ item.dc }}</td>
                <td>{{ item.period }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.oc_ref }}</td>

            </tr>

        {% endfor %}


        </tbody>
    </table>





{% endblock body_content %}

{% block js %}
    <script src="{% static 'js/export.js' %}"></script>

{% endblock %}