<!DOCTYPE html>
{% extends "base/base.html" %}
{% load crispy_forms_tags %}


    {% block title_block %}
        Lot Maintain
    {% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Finance</div>
            <h1 class="easi-title">New Account</h1>
            <p class="easi-sub">Add a chart of accounts entry.</p>
        </div>
    </div>
{% endblock page_header %}


    {% block body_content %}

            <form method="POST">
                {% csrf_token %}
         
                {{form|crispy}}


                <input name="savebutton" class="btn btn-primary" type="submit" value="Save">
                <a name="cancel"  class="btn btn-primary" href="{% url 'finance:coa_list' %}" role="button">Cancel</a>
            </form>
                 
            

    {% endblock body_content %}
