<!DOCTYPE html>
{% extends "base/base.html" %}
{% load crispy_forms_tags %}


    {% block title_block %}
        Income and Expense Maintain
    {% endblock title_block %}


    {% block body_content %}

            <form method="POST">
                {% csrf_token %}
         
                {{form|crispy}}


                <input name="savebutton" class="btn btn-primary" type="submit" value="Save">
                <a name="cancel"  class="btn btn-primary" href="{% url 'finance:inc_list' %}" role="button">Cancel</a>
            </form>
                 
            

    {% endblock body_content %}
