<!DOCTYPE html>
{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

    {% block title_block %}
        Vendor Invoice Maintain
    {% endblock title_block %}


    {% block body_content %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {% crispy form %}
            </form>
        {% block javascript %}
            <script src="{% static 'js/get_oc.js' %}"></script>
            <script src="{% static 'js/set_property.js' %}"></script>
            <script src="{% static 'js/defer_expense.js' %}"></script>
        {% endblock javascript %}


    {% endblock body_content %}
