<!DOCTYPE html>
{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_block %}
    Special Levy
{% endblock title_block %}

{% block page_header %}
    <div class="easi-page-header">
        <div>
            <div class="easi-eyebrow">Finance</div>
            <h1 class="easi-title">Special Levy</h1>
            <p class="easi-sub">Raise and manage special levies.</p>
        </div>
    </div>
{% endblock page_header %}



{% block body_content %}
    {% include 'partials/_alerts.html' %}
    {% crispy form %}

    {% block javascript %}
        <script src="{% static 'js/get_oc.js' %}"></script>
    {% endblock %}

{% endblock body_content %}


